<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<display-name>PortaPayments</display-name>
	<servlet>
		<servlet-name>CreateCode</servlet-name>
		<servlet-class>com.portapayments.server.CreateCodeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateUniversalCode</servlet-name>
		<servlet-class>com.portapayments.server.CreateUniversalCodeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateMobileCode</servlet-name>
		<servlet-class>com.portapayments.server.CreateMobileCodeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PayUniversalCode</servlet-name>
		<servlet-class>com.portapayments.server.PayUniversalCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateCode</servlet-name>
		<url-pattern>/CreateCode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateUniversalCode</servlet-name>
		<url-pattern>/CreateUniversalCode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateMobileCode</servlet-name>
		<url-pattern>/CreateMobileCode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PayUniversalCode</servlet-name>
		<url-pattern>/PayUniversalCode</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
